<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./css/grilla.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>

        <%- include('../partials/nav-bar.ejs') %>
    </header>
    <main>
        <section>
            <div class="grilla">
                <% for(let i = 0; i < json.length; i++) {%>
                <article>
                    <% if(!json[i].image){%>
                        <a href="/products/<%= json[i].id %>"><img src="/img/popu-7.jpg" alt="Foto default" ></a>
                    <%}else{%>
                      <a href="/products/<%= json[i].id %>"><img src="img/product/<%= json[i].image%>" alt="Foto json" ></a>  
                    <%}%>
                        <div class="info-producto-grilla">
                        <form action="/products/<%= json[i].id %>?_method=DELETE" method="POST"><button type="submit">Borrar</button></form><a href="/products/<%= json[i].id%>/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <div class="descripcion-grilla"><%= json[i].name %></div>
                        <div class="precios-grilla">$ <%= json[i].price %></div>
                    </div>
                    
                </article>
                <%}%>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    
</body>
</html>