<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/grilla.css">
</head>
<body>
    
    <main>
        <section>
            <div class="grilla">
                <% for(let i = 0; i < productos.length; i++) {%>
                <article>
                    <% if(!productos[i].imagen){%>
                        <a href="/products/<%= productos[i].id_producto %>" class="hiper-fotos"><img  src="/img/popu-7.jpg" alt="Foto default" class='fotos-grilla'></a>
                    <%}else{%>
                        <a href="/products/<%= productos[i].id_producto %>" class="hiper-fotos"><img  src="img/product/<%= productos[i].imagen%>" alt="Foto Productos" class='fotos-grilla'></a>  
                    <%}%>
                    <br>
                    <div class="info-producto-grilla">
                        <div class="descripcion-grilla"><%= productos[i].nombre %></div>
                        <br>
                        <div class="precios-grilla">$ <%= productos[i].precio_unidad %></div>
                        <br>

                        <form action="/products/<%= productos[i].id_producto%>" method="GET" >
                            <div class="id-producto">
                                <input type="text" name="id" value="<%= productos[i].id_producto %>" readonly="true" id="id-producto" >
                            </div>
                            <div class="icon-preguntas"> 
                                <button type="submit" class="borrar-producto-usuario" id="boton-carrito"><img src="/img/iconos/cart.png" alt="carrito" class="cart-icono"></button>
                            </div> 
                        </form>
                    </div>
                </article>
                <%}%>

    
            </div>
        </section>
    </main>
    
    
</body>
</html>